.app__label-info {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: var(--pf-global--spacer--xs);
}

.app__label-info::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: 1px solid #000;
}

.app__label-info > svg {
    margin-left: var(--pf-global--spacer--xs);
}